# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/

# Unit test / coverage reports
htmlcov/
.coverage
*.py,cover
.pytest_cache/

# Environments
.env
.venv
env/
venv/

.idea/
.git/
